{{ $csvURL := .Get "csvfile" }}
{{ $csv := getCSV "," $csvURL }}
{{ $height := .Get "height" | default "400px" }}
{{ $title := .Get "title" | default "" }}
{{ $style := .Get "style" | default "style1" }}
{{ $tf := .Get "tf" | default "tf1" }}

<div id='{{ .Get "id" }}' style="height:{{$height}}">

</div>

<script>
    var csvdata = {{ $csv }};

    var styles = {
        'style1': {
            'color': ['', '#8CB8CA', '#D4D757', '#8CB8CA', '#D4D757'],
            'dash': ['', 'solid', 'solid', 'dot', 'dot']
        },
        'style2': {
            'color': ['', '#8CB8CA', '#D4D757', '#CA7F9B', '#F7CF3F'],
            'dash': ['', 'solid', 'solid', 'dot', 'dot']
        },
    }
    
    var tfs = {
        'tf1': '',
        'tf2': ',.0%'
    }
    var data = [];
    var xvals;
    for (let i in csvdata) {
        if (i==0) {
            xvals = csvdata[i].slice(1);
        } else {
            data.push({x: xvals, y: csvdata[i].slice(1),
                        name: csvdata[i][0],
                        type: 'scatter',
                        marker: {color: styles[{{ $style }}]['color'][i]},
                        line: {dash: styles[{{ $style }}]['dash'][i]}
                    })
        }
    }
    var layout = {
        title: {{ $title }},
        xaxis: {
                autotick: false,
                },
        yaxis: {
                rangemode: 'tozero',
                tickformat: tfs[{{ $tf }}]
                },
    };
    var config = {responsive: false};
    Plotly.plot({{ .Get "id" }}, data, layout, config);
</script>