{{ $csvURL := .Get "csvfile" }}
{{ $csv := getCSV "," $csvURL }}
{{ $height := .Get "height" | default "400px" }}
{{ $title := .Get "title" | default "" }}

<div id='{{ .Get "id" }}' style="height:{{$height}}">

</div>

<script>
    var csvdata = {{ $csv }};

    var colors = ['', '#8CB8CA', '#D4D757', '#CA7F9B', '#F7CF3F'];
    var data = [];
    var xvals;
    for (let i in csvdata) {
        if (i==0) {
            xvals = csvdata[i].slice(1);
        } else {
            data.push({x: xvals, y: csvdata[i].slice(1),
                        name: csvdata[i][0],
                        type: 'scatter',
                        marker: {color: colors[i]}
                    })
        }
    }
    var layout = {
        title: {{ $title }},
        xaxis: {
                autotick: false,
                },
        yaxis: {
                rangemode: 'tozero',
                },
    };
    var config = {responsive: false};
    Plotly.plot({{ .Get "id" }}, data, layout, config);
</script>